body {
  width: 600px;
  height: 300px;
  margin: 0px;
  padding: 10px; }

main #message {
  background-color: #eeeeee; }

main .available {
  height: 40px;
  border-color: #2d672d;
  background-color: #5cb85c; }

main .busy {
  height: 40px;
  border-color: #8b211e;
  background-color: #d9534f; }
