body {
  width: 600px;
  height: 300px;

  margin: 0px;
  padding: 10px;
}

main {
  #message {
    background-color: #eeeeee;
  }
  .available {
    height: 40px;
    border-color: darken(#5cb85c, 25%);
    background-color: #5cb85c
    // background-color: transparentize(#5cb85c, 0.5);
  }
  .busy {
    height: 40px;
    border-color: darken(#d9534f, 25%);
    background-color: #d9534f
    // background-color: transparentize(#d9534f, 0.5);
  }
}