doctype html
html
  head
    title Timelime
    link(href="popup.css" rel="stylesheet" type="text/css")

  body
    main#main Loading...

    script(src="jquery-3.2.1.min.js")
    script(src="popup.js")
