doctype html
html
  head
    title Timelime
    link(href="popup.css" rel="stylesheet" type="text/css")
    script(src="popup.js")

  body
    main
      p Loading some #[i content]
      #message message
      #message1 message1
      #message2 message2
      #message3 message3
      #message4 message4

