doctype html
html
  head
    title Timelime
    link(href="popup.css" rel="stylesheet" type="text/css")
    script(src="popup.js")

  body
    main
      p Loading some #[i content]
      #message message

